<html>
		<head>
				<title>Flask App</title>
				<style type="text/css">
.container{
		margin: 0 auto;
		width:80%;
}
				</style>
		</head>
		<body>
				<div class="container">
						<center> <h1>Demo Page</h1> </center>
						<p>Temperature: {{temperature }}</p>
						<p>Humidity: {{humidity}}</p>
						<p>Pressure: {{pressure}}</p>
				<form method="POST" action="/test">
						<input type="text" class="text" value="" name="message" placeholder="Input Message">
						<br>
						<input type="submit" class="text" value="Submit" name="submit">
				</form>
				</div>
		</body>
</html>
